
#base2 {
    background: url('/static/img/index/billboard.jpg') no-repeat;

    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

header.wrapper {
    background: transparent;
}

.caption1 {
    text-align: center;
    margin-top: 80px;
    border: 0px solid cornflowerblue;
    margin: 30px;
}
