#window_signup {
    width: 400px;
    background: #ffffff;
    border: 1px solid #dadada;
    font-family: sans-serif;
    padding: 5px 10px 20px 20px;
    -moz-border-radius: 10px; /* Firefox */
    -webkit-border-radius: 10px; /* Safari, Chrome */
    -khtml-border-radius: 10px; /* KHTML */
    border-radius: 10px; /* CSS3 */
}

#window_login {
    width: 400px;
    background: #ffffff;
    border: 1px solid #dadada;
    font-family: sans-serif;
    padding: 5px 10px 20px 20px;
    -moz-border-radius: 10px; /* Firefox */
    -webkit-border-radius: 10px; /* Safari, Chrome */
    -khtml-border-radius: 10px; /* KHTML */
    border-radius: 10px; /* CSS3 */
}

.billboard.light {
    background: url('/static/img/index/billboard2.jpg') no-repeat;

    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

#no-result {
    font-family: "raleway-bold";
    font-size: 20px;
    font-weight: bold;
    margin-top: 30px;
    margin-left: 30px;
    color: #0081c2;
}

/*.base_class {*/
/*background: url('/static/img/index/billboard2.jpg') no-repeat;*/
/*}*/