.nav {
    /*font-weight: bold;*/
    /*font-family: 'Arial Black', 'Arial Bold', Gadget, sans-serif;*/
    font-family: 'Open Sans', sans-serif;
    color: white;
}

.nav > li {
    background: #009DFF;
}