{% extends "base2.html" %}


{% block body %}
    <a href="{{ url_for('logout') }}">
        <button type="button">logout</button>
    </a>
    <div>
        <h2>Function</h2>

        <form class="form" method="post" action={{ url_for("admin_add_category_item") }}>
            <input type="hidden" name="type" value="c_func">
            <input type="text" name="title">
            <input type="submit" value="Add">
        </form>
        <div>
            {% for i in c_func %}
                <div>
                    <form class="form" method="post" action={{ url_for("admin_delete_category_item") }}>
                        <input type="hidden" name="type" value="c_func">
                        <input type="hidden" name="title" value="{{ i.title }}">
                        <span>title:{{ i.title }}</span>
                        <input type="submit" class="delete_button" value="Delete">
                    </form>
                </div>
            {% endfor %}
        </div>
    </div>
    <div>
        <h2>UI Style</h2>

        <form class="form" method="post" action={{ url_for("admin_add_category_item") }}>
            <input type="hidden" name="type" value="c_ui">
            <input type="text" name="title">
            <input type="submit" value="Add">
        </form>
        <div>
            {% for i in c_ui %}
                <div>
                    <form class="form" method="post" action={{ url_for("admin_delete_category_item") }}>
                        <input type="hidden" name="type" value="c_ui">
                        <input type="hidden" name="title" value="{{ i.title }}">
                        <span>title:{{ i.title }}</span>
                        <input type="submit" class="delete_button" value="Delete">
                    </form>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}


{% block script %}
    <script>
        $(document).ready(function () {
            $(".delete_button").click(function () {
                return confirm('Are you sure to delete this?');
            });
        });
    </script>
{% endblock %}