{% extends "base2.html" %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/static/css/search.css">
{% endblock %}

{% block body %}
    <div class="tabbable tabs-left"> <!-- Only required for left/right tabs -->
        <ul class="nav nav-tabs">
            <li class="active"><a href="#tab1" data-toggle="tab">My products</a></li>
            <li><a href="#tab2" data-toggle="tab">Orders</a></li>
            <li><a href="#tab3" data-toggle="tab">Upload new</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="tab1">
                {% include 'search_grid.html' %}
            </div>
            <div class="tab-pane" id="tab2">
                {% include 'search_grid2.html' %}
            </div>
            <div class="tab-pane" id="tab3">
                <form enctype="multipart/form-data" action="{{ url_for('upload') }}"
                      method="POST">
                    <input type="hidden" name="MAX_FILE_SIZE" value="100000"/>
                    <input type="text" name="title" placeholder="title"><br>
                    <input type="text" name="price" placeholder="price"><br>
                    <textarea id="description" name="description"></textarea><br>
                    <select name="c_func">
                        <option value="all">Select your funtion</option>
                        {% for i in c_func %}
                            <option value="{{ i }}">{{ i }}</option>
                        {% endfor %}
                    </select>
                    <br>
                    <select name="c_ui">
                        <option value="all">Select your UI style</option>
                        {% for i in c_ui %}
                            <option value="{{ i }}">{{ i }}</option>
                        {% endfor %}
                    </select>
                    <br>
                    Choose a file to upload: <input name="img" type="file"/><br/>
                    <input type="submit" value="Upload File"/>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
{% endblock %}