{% extends "base2.html" %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="/static/css/search_grid.css">

{% endblock %}

{% block body %}
    <div class="tabbable tabs-left"> <!-- Only required for left/right tabs -->
        <ul class="nav nav-tabs">
            <li class="active"><a href="#tab1" data-toggle="tab">My products</a></li>
            <li><a href="#tab2" data-toggle="tab">Orders</a></li>
            <li><a href="#tab3" data-toggle="tab">Upload new</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="tab1">
                {% if list1|length==0 %}
                    <div id="no-result">Sorry. Your haven't upload any product.</div>
                {% else %}
                    {% include 'search_grid.html' %}
                {% endif %}
            </div>
            {% set list1=list2 %}
            {% set editable=False %}
            <div class="tab-pane" id="tab2">
                {% if list1|length==0 %}
                    <div id="no-result">Sorry. You haven't sold any product yet.</div>
                {% else %}
                    {% include 'search_grid.html' %}
                {% endif %}
            </div>
            <div class="tab-pane" id="tab3">
                {% include 'product_form.html' %}
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}

{% endblock %}