<!DOCTYPE html>
<html>
<head>
    {#	<title>Slider js</title>#}
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="description"
          content="Made with WOW Slider - Create beautiful, responsive image sliders in a few clicks. Awesome skins and animations. Slider js"/>

    <!-- Start WOWSlider.com HEAD section --> <!-- add to the <head> of your page -->
    <link rel="stylesheet" type="text/css" href="/static/css/img_detail/style.css"/>
    <script type="text/javascript" src="/static/css/img_detail/jquery.js"></script>
    <!-- End WOWSlider.com HEAD section -->

</head>
<body style="background-color:#d7d7d7;margin:auto">

<!-- Start WOWSlider.com BODY section --> <!-- add to the <body> of your page -->
<div id="wowslider-container1">
    <div class="ws_images">
        <ul>
            <li><img src="/static/img/1.png" alt="LYZ_6641" title="LYZ_6641" id="wows1_0"/></li>
            <li><img src="/static/img/1.png" alt="OX~UJH8CIY}CZR((]8TIRDS" title="OX~UJH8CIY}CZR((]8TIRDS"
                     id="wows1_1"/></li>
            <li><a href="http://wowslider.com"><img src="/static/img/1.png" alt="jquery gallery" title="psb (1)"
                                                    id="wows1_2"/></a></li>
            <li><img src="/static/img/1.png" alt="psb" title="psb" id="wows1_3"/></li>
        </ul>
    </div>
    <div class="ws_bullets">
        <div>
            <a href="#" title="LYZ_6641"><span><img src="/static/img/1.png" alt="LYZ_6641"/>1</span></a>
            <a href="#" title="OX~UJH8CIY}CZR((]8TIRDS"><span><img src="/static/img/1.png"
                                                                   alt="OX~UJH8CIY}CZR((]8TIRDS"/>2</span></a>
            <a href="#" title="psb (1)"><span><img src="/static/img/1.png" alt="psb (1)"/>3</span></a>
            <a href="#" title="psb"><span><img src="/static/img/1.png" alt="psb"/>4</span></a>
        </div>
    </div>
    <div class="ws_script" style="position:absolute;left:-99%"><a href="http://wowslider.com">slider js</a> by
        WOWSlider.com v8.1m
    </div>
    <div class="ws_shadow"></div>
</div>
<script type="text/javascript" src="/static/css/img_detail/wowslider.js"></script>
<script type="text/javascript" src="/static/css/img_detail/script.js"></script>
<!-- End WOWSlider.com BODY section -->

</body>
</html>