{% extends "base2.html" %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/static/css/index/index.css">

{% endblock %}

{% block body %}


    <div class="caption light animated wow fadeInDown clearfix">
        <h1 id="welcome1">Here You Are</h1>

        <p id="welcome2">we develop, you enjoy</p>

    </div>
    <div class="caption1">
        <form class="form" method="post" action={{ url_for("search") }}>
            <select name="c_func">
                <option value="all">Select your function</option>
                {% for i in c_func %}
                    <option value="{{ i.title }}">{{ i.title }}</option>
                {% endfor %}
            </select>
            <select name="c_ui">
                <option value="all">Select your UI style</option>
                {% for i in c_ui %}
                    <option value="{{ i.title }}">{{ i.title }}</option>
                {% endfor %}
            </select>
            <input id="searchButton" type="submit" value="Go!"/>
        </form>
    </div>

{% endblock %}

{% block script %}
    <script type="text/javascript" src="/static/js/index/index.js"></script>
{% endblock %}