{% extends "base2.html" %}

{% block head %}
{% endblock %}

{% block body %}


    <div class="caption light animated wow fadeInDown clearfix">
        <h1>Here You Are</h1>

        <p>we development, you enjoy</p>
        <hr>
    </div>
    <div class="caption1">
        <select>
            <option value="">Select your funtion</option>
            <option value="a">a</option>
            <option value="b">b</option>
            <option value="c">c</option>
            <option value="d">d</option>
        </select>
        <select>
            <option value="">Select your UI style</option>
            <option value="a">a</option>
            <option value="b">b</option>
            <option value="c">c</option>
            <option value="d">d</option>
        </select>
        <input id="searchButton" type="submit" value="Go!"/>
    </div>

{% endblock %}

{% block script %}
{% endblock %}