<section class="content-wrapper">
    <div class="content-container container">
        <div class="col-main">

            <div class="new-product-block">
                {% for i in range(list1|length) %}

                    {% if i%4==0 %}
                        <ul class="product-grid">
                    {% endif %}
                <li>
                    <div class="pro-img"><a href="{{ url_for('product_detail',title=list1[i].title) }}"><img
                            src="{{ list1[i].img_list[0] }}"
                            alt="Laptop"></a></div>
                    <div class="pro-content"><p>{{ list1[i].title }}</p></div>
                    <div class="pro-price">{{ list1[i].price }}</div>
                    {% if editable %}
                        <a href="{{ url_for('edit_product',p_title=list1[i].title) }}">
                            <button type="button">Edit</button>
                        </a>
                        <button id="delete_button" form="delete_form">Delete</button>
                        <form id="delete_form" action="{{ url_for('delete_product') }}" method="POST">
                            <input type="hidden" name="p_title" value="{{ list1[i].title }}">
                        </form>


                    {% endif %}

                    <div class="pro-link-block">
                        <div class="clearfix"></div>
                    </div>
                </li>
                {% if i%4==3 %}
                    </ul>
                {% endif %}


                {% endfor %}

            </div>
        </div>
    </div>
</section>
<script>
    $(document).ready(function () {
        $('#delete_button').click(function () {
            return confirm('Are you sure to delete this product?');
        });
    });
</script>